<div class="header">
    <div class="container">
        <div class="header-menu d-flex">
            <div class="header-menu--navigation">
                <ul class="d-flex">
                    <li>
                        <a routerLink="" routerLinkActive="active">Home</a>
                    </li>
                    <li>
                        <a routerLink="top" routerLinkActive="active">Top 10</a>
                    </li>
                </ul>
            </div>

            <div class="header-menu--info">
                <button type="button" class="button button-outline-white" data-modal-target="modal-about">What is this ?</button>
            </div>
        </div>
    </div>
</div>
