<div class="header">
    <div class="container">
        <div class="header-menu d-flex">
            <div class="header-menu--navigation">
                <ul class="d-flex">
                    <li>
                        <a routerLink="">
                            <img src="https://img.icons8.com/color/384/line-chart.png" alt="logo" height="65">
                        </a>
                    </li>
                </ul>
            </div>

            <div class="header-menu--info">
                <button type="button" class="button button-outline-white" data-modal-target="modal-about">What is this ?</button>
            </div>
        </div>
    </div>
</div>
