<div class="header">
    <div class="container">
        <div class="header-menu d-flex">
            <div class="header-menu--navigation">
                <ul class="d-flex">
                    <li>
                        <a routerLink="">
                            <img src="https://img.icons8.com/color/384/line-chart.png" alt="logo" height="65">
                        </a>
                    </li>
                </ul>
            </div>

            <div class="header-menu--info">
                <ul class="d-flex align-items-center">
                    <li class="navbar-link">
                        <div class="dropdown-custom">
                            <span>Change theme</span>

                            <div class="dropdown-custom--body flex-wrap">
                                <div class="theme-picker--item">
                                    <div class="dark-1" (click)="toggleBodyTheme('dark-theme')"></div>
                                </div>
                                <div class="theme-picker--item">
                                    <div class="green-1" (click)="toggleBodyTheme('green-theme')"></div>
                                </div>
                                <div class="theme-picker--item">
                                    <div class="danger-1" (click)="toggleBodyTheme('danger-theme')"></div>
                                </div>
                                <div class="theme-picker--item">
                                    <div class="orange-1" (click)="toggleBodyTheme('orange-theme')"></div>
                                </div>
                                <div class="theme-picker--item">
                                    <div class="blue-1" (click)="toggleBodyTheme('blue-theme')"></div>
                                </div>
                            </div>
                        </div>
                    </li>
                    <li class="navbar-link">
                        <button type="button" class="button button-outline-white" data-modal-target="modal-about">What is this ?</button>
                    </li>
                </ul>
            </div>
        </div>
    </div>
</div>
