.footer
    padding: 15px
    background-color: #2E4159
    transition: all .8s ease-in-out

    & h6
        font-size: 14px
        font-weight: 400
        color: white
        line-height: 21px
        margin-bottom: 0

        & a
            color: white
            text-decoration: underline
